/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

/* Variables */
:root {
  --primary-color: tomato;
  --gray-text-color: rgb(111, 111, 111);
  --white-text-color: white;
  --gray-bg-color: rgba(233, 233, 233, 0.852);
  --white-bg-color: white;
}
/* Reusable Components */
.container-width {
  width: 60vw;
  margin: auto;
}

.section-heading {
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 3rem;
}

.section-heading h2 {
  display: inline-block;
  margin-left: 1rem;
}

.section-heading i {
  font-size: 2rem;
}

/* Body */
body {
  margin: 0px;
  font-family: "EB Garamond", serif;
}

/* Header Section */
header {
  background-image: url(image/macbook_mouse.jpg);
  height: 60vmin;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;
}

/* Primary Navigation */
#navbar-primary ul {
  margin: 0px;
  padding: 1.2rem 0px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  height: 3rem;
  flex-wrap: wrap;
}

#navbar-primary ul li a {
  text-decoration: none;
  color: var(--white-text-color);
  font-size: 1.2rem;
  display: inline-block;
  transition: transform 0.4s ease, border-bottom 2s ease;
}

#navbar-primary ul li a:hover {
  transform: scale(1.1);
  color: var(--primary-color);
  border-bottom: 2px solid rgb(255, 255, 255);
}

/* Primary Heading & Socials*/
#heading-socials {
  text-align: center;
  color: var(--white-text-color);
  padding-top: 10vmin;
}

#primary-heading {
  font-size: 3rem;
  margin: 0px;
}

#primary-heading span {
  color: var(--primary-color);
  font-size: 3.5rem;
}

.social-icons {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.social-icons li {
  display: inline-block;
}
.social-icons li a {
  font-size: 2rem;
  color: var(--white-text-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
}
.social-icons li a:hover {
  box-shadow: 0px 0px 8px tomato;
}

/* Main Section */

/* About Section */
#about {
  background-color: var(--white-bg-color);
}
.about-content {
  text-align: center;
  position: relative;
  top: -75px;
}

#about-photo img {
  border-radius: 50%;
  min-width: 150px;
  min-height: 150px;
  width: 11vw;
  height: 11vw;
  border: 2px solid white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}

#about-description {
  text-align: justify;
  color: var(--gray-text-color);
}

/* Skills Section */
#skills {
  margin: 0px auto;
  padding: 0px;
  margin-top: -50px;
  background-color: var(--gray-bg-color);
}

.skills-content {
  display: flex;
  column-gap: 0rem;
  row-gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.skill-badge {
  text-align: center;
  width: 100px;
  padding:  5px 20px;
  height: 35px;
  line-height: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 2px solid  rgba(255, 99, 71, 0.395);
  
}

.skill-badge span {
  color: var(--gray-text-color);
  font-weight: 500;
  
  
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    
  }
  50%{
    transform: scale(1.05);

  }
  100% {
    transform: scale(1);
    
  }
}
/* Skill icon color */

.light-blue{
  color:#61DBFB;
}

.orange{
  color: #E44D26;
}

.yellow{
  color:	#F0DB4F
}



/* Experience Section */
#experience {
  background-color: var(--white-bg-color);
  padding-bottom: 1rem;
}

.exp-content {
  height: auto;
  position: relative;
}

.exp-content .exp-card {
  width: 40%;
  height: auto;
  position: relative;
}

.exp-content .exp-card:nth-child(2n) {
  left: 60%;
  margin: 0px -2vw;
  text-align: left;
}

.exp-content .exp-card:nth-child(2n - 1) {
  margin: 0px 2vw;
}

/* Divider Dotted */
.divider-line {
  position: absolute;
  height: 81%;
  width: 0;
  border: 1px dashed var(--primary-color);
  top: 3%;
  left: 50%;
}

.divider-object {
  position: sticky;
  top: 25%;
  transform: rotate(90deg);
  z-index: 2;
  margin: -14px;
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* Divider stops */
.exp-card::after {
  content: "";
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: rgb(194, 194, 194);
  position: absolute;
  z-index: 1;
  top: 15%;
  left: calc(100% + 4vw - 4.5px);
}

.exp-card:nth-child(2n)::after {
  left: auto;
  right: calc(100% + 4vw - 6.5px);
}

/* Experience Details */
.exp-heading {
  text-align: end;
  color: var(--gray-text-color);
  margin-bottom: 1.5rem;
}

.exp-heading h3 {
  font-size: 1.2rem;
  margin: 0px;
  margin-top: 1em;
  color: rgb(67, 97, 250);
}
.exp-heading h4 {
  margin: 0px;
  color: var(--primary-color);
  font-size: 1rem;
  margin-top: 0.5rem;
}

.exp-logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10%;
}

.exp-logo img {
  width: 100%;
  height: 100%;
}

.exp-description {
  width: 100%;
  text-align: justify;
  color: var(--gray-text-color);
}

/* Education Section */
#education {
  background-color: var(--gray-bg-color);
  padding-bottom: 1rem;
}

.edu-divider-line {
  position: absolute;
  height: 76%;
  width: 0;
  border: 1px dashed tomato;
  top: 4%;
  left: 50%;
}

/* Portfolio Section */
#portfolio {
  background-color: var(--white-bg-color);
  margin-bottom: 2rem;
}

.project-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
}

.project-card {
  height: 250px;
  width: 250px;
  box-shadow: 0px 0px 10px rgb(138, 138, 138);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.project-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  font-style: oblique;
  background: radial-gradient(
    circle farthest-corner at 50% 50%,
    rgb(210, 210, 210) 100%
  );
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: opacity 0.44s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card a:visited .project-info {
  color: var(--primary-color);
}

.project-info h3,
.project-info p {
  width: 90%;
  height: auto;
  text-align: center;
}

/* Footer Section */
/* Contact Section */
#contact {
  background: linear-gradient(
    60deg,
    rgb(31, 31, 232) -30%,
    rgb(104, 93, 143) 100%
  );
  padding-bottom: 1rem;
}

/* Contact Heading */

.contact-heading {
  text-align: center;
  font-size: 1.5rem;
  color: var(--white-text-color);
  margin-bottom: 3rem;
}
.contact-heading h2 {
  display: inline-block;
  margin-left: 1rem;
}

.contact-heading i {
  font-size: 2rem;
}

/* Contact Content */
.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* Contact Form */
.contact-form {
  text-align: center;
  width: 50%;
}

.contact-form input,
textarea {
  padding: 0px;
  width: 90%;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 3rem;
  font-size: 1rem;
  color: var(--white-text-color);
  transition: border-color 0.4s ease, color 0.4s ease-in-out;
}

.contact-form input:focus,
textarea:focus {
  outline: none;
  color: var(--white-text-color);
  border-color: var(--primary-color);
}

.contact-form input::placeholder,
textarea::placeholder {
  font-size: 1rem;
  color: rgb(163, 163, 163);
}

.contact-form input,
textarea {
  background-color: transparent !important;
  background-clip: padding-box !important;
  padding: 0.5rem;
}

.contact-form button {
  background: transparent;
  color: var(--white-text-color);
  border: 2px solid white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.contact-form button:hover{
  background-color: var(--primary-color);
}

/* Contact Details */
.contact-details {
  margin: auto;
  color: var(--white-text-color);
  text-align: left;
  margin: 0px;
  width: 50%;
}

.getintouch h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.getintouch p {
  text-align: left;
}

.my-address div {
  margin-bottom: 1rem;
}

.my-address div i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

/* Mobile Navigation  */
#navbar-mobile {
  display: none;
}

/* ---------------------------------------------------------------------
Media Queries (Mobile)
------------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  /* Container Width */
  .container-width {
    width: 90vw;
  }

  /* Primary Navigation*/
  #navbar-primary {
    display: none;
  }
  /* Mobile Navigation */
  #navbar-mobile {
    display: block;
    color: var(--white-text-color);
    font-size: 1rem;
    padding: 1rem;
  }
  #navbar-mobile label i {
    font-size: 1.5rem;
  }

  #check,
  .dropdown {
    display: none;
  }

  .dropdown li a {
    text-decoration: none;
    color: var(--white-text-color);
  }

  .dropdown li {
    padding: 5px;
    margin: 1px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.449);
    border-radius: 10px;
  }

  #check:checked ~ ul {
    display: block;
    position: absolute;
    list-style: none;
    margin: auto;
    padding: 0px;
    border-radius: 10px;
  }

  /* Mobile Header Section */
  header {
    height: 40vh;
  }

  #heading-socials {
    padding-top: 2vmax;
    width: 50vw;
  }

  #primary-heading {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    
  }

  #primary-heading span {
    font-size: 2.5rem;
  }
  .social-icons li a {
  font-size: 1.5rem;
  }

  /* Mobile Section Headings */
  .section-heading {
    width: 100%;
  }
  .section-heading h2 {
    margin-left: 0rem;
  }

  .contact-heading h2 {
    margin-left: 0rem;
  }


  /* Mobile Experience Section */

  .divider-line {
    left: 0%;
    height: 84.5%;
  }

  .exp-card::after {
    left: calc(-2.5vw - 2.6px) !important;
  }
  .exp-card:nth-child(2n)::after {
    right: auto;
  }
  
  .exp-content .exp-card:nth-child(2n) {
    left: 0%;
    margin: 5rem 2vw;
  }

  .exp-content .exp-card {
    width: 90%;
    height: auto;
    position: relative;
    padding-left: 1rem;
  }

  .exp-heading {
  margin-bottom: 0px;
}


  /* Mobile Education Section */
  .edu-divider-line {
    left: 0%;
    height: 80%;
  }

  /* Mobile Portfolio Section*/
  .project-content {
    gap: 2rem;
  }

  /* Mobile Contact Section */
  .contact-content {
    display: block;
  }

  .contact-form input,
  textarea {
    width: 90%;
  }

  .contact-form {
    width: 100%;
    margin-bottom: 3rem;
  }

  .contact-details {
    width: 100%;
  }
}
