/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

body {
  margin: 0px;
  font-family: "EB Garamond", serif;
}

/* Header Section */
header {
  background-image: url(image/macbook_mouse.jpg);
  height: 60vmin;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.8;

}

.container-width {
  width: 60vw;
  margin: auto;
}

#navbar-main ul {
  margin: 0px;
  padding: 1.2rem 0px;
  display: flex;
  list-style: none;
  justify-content: space-around;
  height: 3rem;
  flex-wrap: wrap;
}

#navbar-main ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  display: inline-block;
  transition: transform 0.4s ease, border-bottom 2s ease;
}

#navbar-main ul li a:hover {
  transform: scale(1.1);
  color: tomato;
  border-bottom: 2px solid rgb(255, 255, 255);
}

#header-content {
  text-align: center;
  color: white;
  padding-top: 10vmin;
}

#my-name {
  font-size: 3rem;
  margin: 0px;
}
#my-name span {
  color: tomato;
  font-size: 3.5rem;
}

.social-icons {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.social-icons li {
  display: inline-block;
}
.social-icons li a {
  font-size: 1.5rem;
  color: white;
  border-radius: 50%;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
}
.social-icons li a:hover {
  box-shadow: 0px 0px 8px tomato;
}

/* About Section */
#about {
  background-color: white;
}
.about-main {
  text-align: center;
  position: relative;
  top: -75px;
}

#about-photo img {
  border-radius: 50%;
  min-width: 150px;
  min-height: 150px;
  width: 11vw;
  height: 11vw;
  border: 2px solid white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}
#about-content {
  text-align: justify;
  color: rgb(111, 111, 111);
}

/* Skills */
#skills {
  margin: 0px auto;
  padding: 0px;
  margin-top: -50px;
  background-color: rgba(233, 233, 233, 0.852);
}
.section-heading {
  text-align: center;
  font-size: 1.5rem;
  color: tomato;
  margin-bottom: 3rem;
}

.section-heading h2 {
  display: inline-block;
  margin-left: 1rem;
}

.section-heading i {
  font-size: 2rem;
}

.skill-progress {
  display: flex;
  column-gap: 2.5rem;
  row-gap: 3rem;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.percentage-100 {
  width: 180px;
  height: 35px;
  line-height: 2rem;
  background-color: rgb(180, 180, 180);
  border-radius: 20px;
}
.percentage-100 span {
  margin-left: 0.5rem;
  color: white;
  font-weight: 500;
}
/* percentage classes */
.eighty {
  width: 80%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(140, 10, 151);
}

.ninety {
  width: 90%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(10, 151, 31);
}

.seventy {
  width: 70%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(67, 97, 250);
}

.fifty {
  width: 50%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  background-color: rgb(151, 19, 10);
}

.sixty {
  width: 60%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;

  background-color: rgb(151, 140, 10);
}

/* Experience */
#experience {
  background-color: white;
  padding-bottom: 1rem;
}

.timeline {
  height: auto;
  position: relative;
}

.timeline .exp {
  width: 40%;
  height: auto;
  position: relative;
}
.timeline .exp:nth-child(2n) {
  left: 60%;
  margin: 0px -2vw;
  text-align: left;
}

.timeline .exp:nth-child(2n + 1) {
  margin: 0px 2vw;
}

.timeline-line {
  position: absolute;
  height: 81%;
  width: 0;
  border: 1px dashed tomato;
  top: 3%;
  left: 50%;
}

.timeline-object {
  position: sticky;
  top: 25%;
  transform: rotate(90deg);
  z-index: 2;
  margin: -14px;
  font-size: 1.5rem;
  color: tomato;
}

.exp::after {
  content: "";
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  background-color: rgb(194, 194, 194);
  position: absolute;
  z-index: 1;
  top: 15%;
  left: calc(100% + 4vw - 4.5px);
}

.exp:nth-child(2n)::after {
  left: auto;
  right: calc(100% + 4vw - 6.5px);
}

/* Experience Details */
.exp-heading {
  text-align: end;
  color: rgb(111, 111, 111);
  margin-bottom: 2rem;
}

.exp-heading h3 {
  font-size: 1.2rem;
  margin: 0px;
  margin-top: 1em;
  color: rgb(67, 97, 250);
}
.exp-heading h4 {
  margin: 0px;
  color: tomato;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.exp-logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0%;
}

.exp-logo img {
  width: 100%;
  height: 100%;
}

.exp p {
  width: 100%;
  text-align: justify;
  color: rgb(111, 111, 111);
}

/* Education Section */

#education {
  background-color: rgba(233, 233, 233, 0.852);
  padding-bottom: 1rem;
}

.timeline-line-2 {
  position: absolute;
  height: 76%;
  width: 0;
  border: 1px dashed tomato;
  top: 4%;
  left: 50%;
}

/* Portfolio Secton */
#portfolio {
  background-color: white;
  margin-bottom: 2rem;
}
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.project-card {
  height: 250px;
  width: 250px;
  box-shadow: 0px 0px 15px rgb(138, 138, 138);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}

.project-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 600;
  font-style: oblique;
  background: radial-gradient(
    circle farthest-corner at 50% 50%,
    rgb(151, 151, 151) 100%
  );
  opacity: 0;
  border-radius: 20px;
  transition: opacity 0.44s ease;
}

.project-card:hover img {
  filter: blur(3px);
}

.project-card:hover .project-info {
  opacity: 0.8;
  color: black;
}

.project-info h3,
p {
  width: 90%;
  height: auto;
  text-align: center;
}

.project-card img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: filter 0.4s ease;
}

/* Contact */

#contact {
  background: linear-gradient(
    60deg,
    rgb(31, 31, 232) -30%,
    rgb(104, 93, 143) 100%
  );
  padding-bottom: 1rem;
}

.contact-heading {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 3rem;
}
.contact-heading h2 {
  display: inline-block;
  margin-left: 1rem;
}

.contact-heading i {
  font-size: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;

  align-items: center;
  gap: 2rem;
}

.contact-input {
  text-align: center;
  width: 50%;
}

.contact-input input,
textarea {
  padding: 0px;
  width: 90%;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 3rem;
  font-size: 1rem;
  color: white;
  transition: border-color 0.4s ease, color 0.4s ease-in-out;
}

.contact-input input:focus,
textarea:focus {
  outline: none;
  color: white;
  border-color: tomato;
}
.contact-input input::placeholder,
textarea::placeholder {
  font-size: 1rem;
  color: rgb(111, 111, 111);
}

.contact-input input,
textarea {
  background-color: transparent !important;
  background-clip: padding-box !important;
  padding: 0.5rem;
}

.contact-input button {
  background: transparent;
  color: white;
  border: 2px solid white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.5rem;
}

.contact-details {
  margin: auto;
  color: white;
  text-align: left;
  margin: 0px;
  width: 50%;
}
.contact-details h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.contact-details p {
  text-align: left;
}

.my-address div {
  margin-bottom: 1rem;
}
.my-address div i {
  margin-right: 0.5rem;
  font-size: 1rem;
}
/* navbar Mobile */
#navbar-mobile {
  display: none;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  #check,
  #navbar-mobile ul {
    display: none;
  }
  #navbar-mobile ul li a {
    text-decoration: none;
    color: white;
  }

  #navbar-mobile ul li {
    padding: 5px;
    margin: 1px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.449);
    border-radius: 10px;
  }

  /* mobile header */
  #navbar-mobile {
    display: block;
    color: white;
    font-size: 1rem;
    padding: 1rem;
  }
  #navbar-mobile i {
    font-size: 1.5rem;
  }

  #check:checked ~ ul {
    display: block ;
    position: absolute;
    list-style: none;
    margin: auto;

    padding: 0px;
    border-radius: 10px;
  }

  header {
    height: 40vh;
  }
  #header-content {
    padding-top: 2vmax;
  }

  #my-name {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
  }
  #my-name span {
    font-size: 2.5rem;
    
  }
  /* NavBar Mobile */
  #navbar-main {
    display: none;
  }

  /* Section Headings */
  .contact-heading h2 {
    margin-left: 0rem;
  }
  .section-heading {
    width: 100%;
  }
  .section-heading h2 {
    margin-left: 0rem;
  }

  /* Work Experience */
  .timeline-line {
    left: 0%;
    height: 83.5%;
  }

  .exp::after {
    left: calc(-2.5vw - 2.6px) !important;
  }
  .exp:nth-child(2n)::after {
    left: 0px;
    right: auto;
  }
  .timeline .exp:nth-child(2n) {
    left: 0%;
    margin: 5rem 2vw;
  }
  .timeline .exp {
    width: 90%;
    height: auto;
    position: relative;
    padding-left: 1rem;
  }
  /* Section */
  .timeline-line-2 {
    left: 0%;
    height: 79%;
  }

  /* Portfolio */
  .projects {
    gap: 2rem;
  }

  /* Contact  */
  .contact-content {
    display: block;
  }

  .contact-input input,
  textarea {
    width: 90%;
  }

  .contact-input {
    width: 100%;
    margin-bottom: 3rem;
  }

  .contact-details {
    width: 100%;
  }
}
